.ubicacion {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 25px;
    padding: 20px;
  }
  
  /* Todas las imágenes */
  .ubicacion img {
    width: 20%;
    transition: transform 0.3s;
  }
  
  /* Pseudo-clase :hover para imágenes */
  .ubicacion img:hover {
    transform: scale(1.05);
  }
  