body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fffbe7;
}
header{
    background: #e67e22;
    color: white;
    padding: 20px 0;
    text-align: center;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li {
    display:  incline;
    margin: 0 15px;
}