body{
    background-color: #f5ce64;
    margin-top: 70px;
}

nav {
    background-color: #e67e22;
    padding: 14px 0;
    border-radius: 0 0 8px 8px;
    margin-bottom: 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.18);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 30px
}
