:root{
    --red: #fc0000 ;
}
*{
    box-sizing: border-box;
}
h1{
    height: 100%;
    color:var(--red);
}
.mapa{
    color:var(--red)
}
.wrap{
    width:min(1100px, 100%, 98vw)
}
p.lead{
    margin:0 0 22px; color:var(--red);
}
.grid{
    border-radius: calc(var(--radius)+4px);
}
.btn{
    --btn-bg: #23284f;
    --btn-fg: var(--text);
    --btn-bd: rgba(255,255,255,.12);
    --btn-shadow: 0 6px 18px rgba(0,0,0,.35);
    --btn-radius: var(--radius);
}
.btn:where(:hover && :active){
    transform: translateY(-2px)
}
.btn.border-draw::before,
.btn.border-draw::after{
    content:""; position:absolute; inset:0; border-radius:inherit; pointer-events:none;
}
color-mix(in oklab, var(--brand) 60%, 5%);