body{

background-color: #fdd700; 
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
margin-right: 10px;
margin-bottom: 10px;
margin: bottom 10px; ;

}
p{
    color: #f44336;
}
.h{
margin-top: 100px;
}
nav{
background-color: #e67e22;
padding: 14px 0;
border-radius: 0 0 8px 8px rgba(0,0,0,0.18);
text-align: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
}
nav ul{
list-style: none;
margin: 0;
padding: 0;
}
nav ul li{
display: inline-block;
margin: 0 20px;
}
nav ul li a{
color: #fff;
text-decoration: none;
font-weight: bold;
font-size: 18px;
letter-spacing: 1px;
transition: color 0.3s, text-shadow 0.3;
padding: 6px 12px;
border-radius: 4px;
}
nav ul li a:hover{
color: #e67e22;
background: #fff;
text-shadow: 0 0 6px #ffd700;
}
.container{
column-count: 2;
column-gap: 50px;
width: 100%;
margin: 0 auto;
min-width: 100px;
max-width: 700px;
min-height: 1800px;
max-height: 1800px;
}
.container2{
    text-align: center;
}
.colum{
    padding: 10px;
    border: 1px solid black;
}
.i2{
width: 320px;
height: 250px;
display: block;
}
.container{
    display: flex;
}